/* Coolors Exported Palette - https://coolors.co/7aa1d0-afa5cf-9ec1a3-cfe0c3-1f363d */

/* CSS HEX */
--wisteria-blue: #7aa1d0ff;
--wisteria: #afa5cfff;
--muted-teal: #9ec1a3ff;
--tea-green: #cfe0c3ff;
--jet-black: #1f363dff;

/* CSS HSL */
--wisteria-blue: hsla(213, 48%, 65%, 1);
--wisteria: hsla(254, 30%, 73%, 1);
--muted-teal: hsla(129, 22%, 69%, 1);
--tea-green: hsla(95, 32%, 82%, 1);
--jet-black: hsla(194, 33%, 18%, 1);

/* SCSS HEX */
$wisteria-blue: #7aa1d0ff;
$wisteria: #afa5cfff;
$muted-teal: #9ec1a3ff;
$tea-green: #cfe0c3ff;
$jet-black: #1f363dff;

/* SCSS HSL */
$wisteria-blue: hsla(213, 48%, 65%, 1);
$wisteria: hsla(254, 30%, 73%, 1);
$muted-teal: hsla(129, 22%, 69%, 1);
$tea-green: hsla(95, 32%, 82%, 1);
$jet-black: hsla(194, 33%, 18%, 1);

/* SCSS RGB */
$wisteria-blue: rgba(122, 161, 208, 1);
$wisteria: rgba(175, 165, 207, 1);
$muted-teal: rgba(158, 193, 163, 1);
$tea-green: rgba(207, 224, 195, 1);
$jet-black: rgba(31, 54, 61, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #7aa1d0ff, #afa5cfff, #9ec1a3ff, #cfe0c3ff, #1f363dff);
$gradient-right: linear-gradient(90deg, #7aa1d0ff, #afa5cfff, #9ec1a3ff, #cfe0c3ff, #1f363dff);
$gradient-bottom: linear-gradient(180deg, #7aa1d0ff, #afa5cfff, #9ec1a3ff, #cfe0c3ff, #1f363dff);
$gradient-left: linear-gradient(270deg, #7aa1d0ff, #afa5cfff, #9ec1a3ff, #cfe0c3ff, #1f363dff);
$gradient-top-right: linear-gradient(45deg, #7aa1d0ff, #afa5cfff, #9ec1a3ff, #cfe0c3ff, #1f363dff);
$gradient-bottom-right: linear-gradient(135deg, #7aa1d0ff, #afa5cfff, #9ec1a3ff, #cfe0c3ff, #1f363dff);
$gradient-top-left: linear-gradient(225deg, #7aa1d0ff, #afa5cfff, #9ec1a3ff, #cfe0c3ff, #1f363dff);
$gradient-bottom-left: linear-gradient(315deg, #7aa1d0ff, #afa5cfff, #9ec1a3ff, #cfe0c3ff, #1f363dff);
$gradient-radial: radial-gradient(#7aa1d0ff, #afa5cfff, #9ec1a3ff, #cfe0c3ff, #1f363dff);